version: '3.9'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DB: messaging_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: django_web
    command: python3 manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    environment:
      MYSQL_DB: messaging_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_HOST: db
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  db_data:
